<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libplctag" version="1.0.13" targetFramework="net461" />
  <package id="libplctag.NativeImport" version="1.0.17" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net461" />
</packages>